CREATE DATABASE [D2D_DB]

USE [D2D_DB]
GO
/****** Object:  Table [dbo].[CUSTOMER2]    Script Date: 14-08-2024 13:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER2](
	[customer_id] [int] NULL,
	[cust_name] [varchar](30) NULL,
	[city] [varchar](30) NULL,
	[Grade] [int] NULL,
	[salesman_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 14-08-2024 13:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ord_no] [int] NULL,
	[purch_amt] [decimal](8, 2) NULL,
	[ord_date] [datetime] NULL,
	[customer_id] [int] NULL,
	[salesman_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALESMAN]    Script Date: 14-08-2024 13:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALESMAN](
	[salesman_id] [int] NULL,
	[name] [varchar](30) NULL,
	[city] [varchar](30) NULL,
	[commission] [decimal](4, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CUSTOMER2] ([customer_id], [cust_name], [city], [Grade], [salesman_id]) VALUES (3002, N'Nick Rimando', N'New York', 100, 5001)
INSERT [dbo].[CUSTOMER2] ([customer_id], [cust_name], [city], [Grade], [salesman_id]) VALUES (3007, N'Brad Davis', N'New York', 200, 5001)
INSERT [dbo].[CUSTOMER2] ([customer_id], [cust_name], [city], [Grade], [salesman_id]) VALUES (3005, N'Graham Zusi', N'California', 200, 5002)
INSERT [dbo].[ORDERS] ([ord_no], [purch_amt], [ord_date], [customer_id], [salesman_id]) VALUES (70001, CAST(150.50 AS Decimal(8, 2)), CAST(N'2012-12-05 00:00:00.000' AS DateTime), 3005, 5002)
INSERT [dbo].[ORDERS] ([ord_no], [purch_amt], [ord_date], [customer_id], [salesman_id]) VALUES (70009, CAST(270.65 AS Decimal(8, 2)), CAST(N'2012-11-10 00:00:00.000' AS DateTime), 3001, 5005)
INSERT [dbo].[ORDERS] ([ord_no], [purch_amt], [ord_date], [customer_id], [salesman_id]) VALUES (70001, CAST(65.26 AS Decimal(8, 2)), CAST(N'2012-10-05 00:00:00.000' AS DateTime), 3002, 5001)
INSERT [dbo].[SALESMAN] ([salesman_id], [name], [city], [commission]) VALUES (5001, N'James Hoog', N'New York', CAST(0.15 AS Decimal(4, 2)))
INSERT [dbo].[SALESMAN] ([salesman_id], [name], [city], [commission]) VALUES (5002, N'Nail Knite', N'Paris', CAST(0.13 AS Decimal(4, 2)))
INSERT [dbo].[SALESMAN] ([salesman_id], [name], [city], [commission]) VALUES (5005, N'Pit Alex', N'London', CAST(0.11 AS Decimal(4, 2)))
